# OSX files
#
.DS_Store

# Files marked for later removal, or temporary omission
#
_OLD_*
_SKIP_*

# Our project files (created by dev)
#
.jsproject

# Sublime text editor
#
*.sublime-project
*.sublime-workspace

# PyCharm (and other JetBrains) IDE
#
.idea

# Eclipse IDE
#
.classpath
.project
.settings

# Compile output
#
target

checkpoints
generated_images
inspection
train_data
train_info
inference
inference_results
example_yolo/from_web

example_yolo/rs.sh
project_config
secrets


progress.txt


__pycache__
